* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-family);
}

/* ----Barre de progression------- */
#barre {
  height: 10px;
  border-radius: 0 50px 50px 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: linear-gradient(to right, rgb(255 223 213), rgb(255 105 58));
}

/*Scrollbars */

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #f9c0ae;
}

::-webkit-scrollbar-thumb {
  background-color: #f46c36;
  border: #f9c0ae 1px solid;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff8352;
}

/* -------burger-menu--------- */
.hamburger,
.mobile-nav {
  display: none;
}

.hamburger {
  position: relative;
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.container1#blur.active {
  filter: blur(17px);
  transition: 0.9s;
}

body {
  padding: 0;
  background: #ffffff;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: none;
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-48deg) translate(-90px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(48deg) translate(-69px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: -52em;
  left: 72em;
  width: 141vh;
  min-height: 114vh;
  background: linear-gradient(to right, rgb(231 122 24), #ff5200);
  padding-top: 18em;
  transition: 0.4s;
  border-radius: 0 0 60px 60px;
  margin: 0px -50em;
  padding-bottom: 6em;
}

.mobile-nav.is-active {
  left: 72em;
  top: 66px;
  z-index: 1;
  display: none;
}

.mobile-nav a {
  display: none;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  margin: 118px auto 16px;
  padding: 55px 158px;
  font-size: 7em;
  background-color: #ffb473;
  color: #fff;
  border-radius: 29px;
}

.mobile-nav a:hover {
  color: white;
  background-color: #ff4d4d;
}

/*Cookies pop-up*/

.cookie-consent-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  align-items: flex-end;
}

.cookie-consent-modal.active {
  display: flex;
}

.content {
  padding: 2vw 2vw;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff3d00, #ffcc82);
}

.content h1 {
  font-size: 1.2em;
  margin-bottom: 1px;
}

.content p {
  color: #ffffff;
  font-size: 14px;
}

#cookies {
  font-size: 29px;
  font-weight: 700;
  color: black;
}

.bloc_cookies {
  width: 33%;
  position: absolute;
  bottom: 12px;
  left: 7px;
}

.bloc_cookies img {
  width: 22%;
  position: absolute;
  left: 73%;
  filter: contrast(0.5);
  top: 5%;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.btn {
  border: none;
  outline: none;
  padding: 0.8em 1.5em;
  width: 100px;
  margin-right: 1em;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn.accept {
  background-color: #ff5722;
  color: white;
}

.btn.accept:hover {
  background-color: #f44336;
  color: white;
}

/* -----------HEADER----------------- */

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  text-transform: uppercase;
  padding: 0.3em 2rem;
  transition: all 0.25s ease-in-out;
}
header.scroll {
  background-color: var(--primary-color);
}
.toggle {
  display: none;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav li {
  display: flex;
  align-items: center;
  margin-right: 13em;
}
header nav a {
  color: #fff;
  font-size: 16px;
  padding: 12px 40px;
  border-radius: 114px;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  transition-duration: 0.6s;
  white-space: nowrap;
}
header nav a:nth-child(5) {
  background: #f03900;
}
header nav ul li a:hover {
  background:var(--hover-primary-color);
}
header #logo {
  width: 14em;
  transform: translateY(-0.2em);
  transition: 0.4s;
  margin-left: 13%;
}
header #logo:hover {
  transform: translateY(-0.3em);
  background-size: cover;
}

/* BANNER */
.banner {
  position: relative;
  background: url("../img/banner/banner-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -26em;
  height: 56vh;
}
.banner-form {
  position: relative;
  background: url("../img/banner/banner-form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -26em;
  height: 56vh;
}

.heading-label {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: var(--font-bold);
}

.text_btn {
  position: absolute;
  bottom: 8em;
  left: 4em;
}

.text_btn p {
  font-size: 24px;
  color: var(--text-on-dark);
  width: 73%;
}

.banner h1 {
  font-size: var(--font-size-banner);
  font-weight: var(--font-black);
  text-shadow: 0 4px 17px #0000009e;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 61px;
}

.call-to-action {
  margin-top: 35px;
  font-size: 23px;
  font-weight: 500;
}

.call-to-action a {
  color: #fff;
  margin-right: 3px;
  padding: 10px 24px;
  border-radius: 64px;
  transition-duration: 0.4s;
}

.call-to-action a:nth-child(1) {
  background: var(--primary-color);
}
.call-to-action a:nth-child(1):hover {
  background: var(--hover-primary-color);
}

.call-to-action a:nth-child(2) {
  background: #f5f5f5;
  color: #000000;
}
.call-to-action a:nth-child(2):hover {
  background: #d1d1d1;
  color: #000000;
}

.incitation {
  display: block;
  color: #ffff;
  font-family: var(--font-family-2);
  font-size: 24px;
  position: absolute;
  right: 2em;
  bottom: -2em;
}

.hidden-element {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 2em;
  bottom: -2em;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.hover-element:hover + .hidden-element {
  opacity: 1;
  visibility: visible;
}

/* -------------FORMULES------------------ */
.all-formules {
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #0B0B16;
  color: var(--text-on-dark);
  margin-right: 2em;
  border-radius: 55px;
  padding: 40px 25px;
}

.form>.call-to-action {
  display: flex;
  justify-content: center;
}

.form span {
  font-size: 48px;
}

.form p {
  font-size: 128px;  
  font-weight: var(--font-bold);
}

.offre p {
  background: #FF9B7B;
  color: black;
  border-radius: 55px;
  font-size: 24px;
  padding: 18px;
  text-align: center;
}

.all-options {
  margin-top: 20px;
}

.option {
  line-height: 55px;
}

.option i {
  font-size: 24px;
  margin-right: 14px;
}

.fa-solid.fa-xmark {
  color: #f44336;
}

.all-options span {
  font-size: 24px;
}

/* services inclus */
.all-round-services {
  display: flex;
}

.services-inclus {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 11em 0;
}

.round-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
}

.round-service img {
  width: 20em;
  border-radius: 33em;
  filter: brightness(1.2);
}

.services-inclus span {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 19px;
}



/* IFRAME -HOME */
.iframe-home iframe {
  width: 100%;
  height: 500px;
  border:0;
}

/* SERVICES TRIO */

.textNservices {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.bloc-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
  padding: 2em;
}

.bg-bloc {
  background: var(--secondary-color);
}

.element-decoration-1 {
  background: linear-gradient(45deg, #ff693a, #f6bca9);
  border-radius: 34px;
  padding: 19px;
  margin: 5px 0;
}

.services-trio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-text {
  position: relative;
  margin: 1em 2em 0 0;
}

.service-text img {
  width: 20em;
  filter: brightness(0.8);
  transition-duration: 0.4s;
}

.service-text img:hover {
  filter: brightness(1.1);
}

.service-text-p {
  position: absolute;
}

.text-services {
  font-size: 27px;
  position: absolute;
  width: 11em;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
}

.little-title {
  opacity: 0;
  position: absolute;
  top: -77px;
  left: 19px;
  transition: 0.4s;
}

.little-title p {
  font-size: 27px;
  margin: -12px 0;
  top: -105px;
  left: 14px;
}

.little-title span {
  -webkit-text-stroke: 0.7px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.title-service {
  position: absolute;
  top: -40px;
  font-size: 18px;
  left: 19px;
  transition-duration: 0.4s ease-out;
}
.title-service-add {
  opacity: 1;
  transition-duration: 0.4s ease-out;
  position: absolute;
  top: -209px;
  left: 52px;
  font-size: 45px;
  text-shadow: 0 0 17px rgba(0, 0, 0, 0.536);
}

.en-savoir-plus {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.en-savoir-plus a {
  background: var(--primary-color);
  transition-duration: .4s;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  color: #fff;
  padding: 14px 33px;
  border-radius: 44px;
  font-size: 16px;
}

.en-savoir-plus a:hover {
  background: var(--hover-primary-color);
}

/* -----Maintenant------------------ */

.maintenant {
  display: flex;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: 2em;
  width: 97%;
  margin: 0;
  overflow: hidden;
  cursor: context-menu;
  height: 50px;
}

.scrolling-animation {
  display: flex;
  animation: now 12s ease-in-out infinite;
}

@keyframes now {
  0% {
    transform: translate(-317px, 10px);
  }
  50% {
    transform: translate(-16px, 10px);
  }
  100% {
    transform: translate(-317px, 10px);
  }
}

.Now {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-right: 2em;
  font-size: 26px;
}

/* ------carte fitnesss-pass---------------------- */

.carte-fidelite {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3% 21% 3% 21%;
  width: 62%;
}

.carte-texte {
  margin-left: 2em;
}

.carte-fidelite h3 {
  color: rgb(25 25 25);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.5em;
}

.carte-fidelite span {
  color: #ff7f00;
}

.carte-fidelite p {
  font-size: 104%;
}

.carte-fidelite img {
  width: 284px;
  border-radius: 32px;
  box-shadow: 0 10px 40px #00000054;
}

/* ----------A vos marque----------------------- */
.band-service {
  background: linear-gradient(to bottom, #171b31, #8a8c9d);
  width: 97%;
  height: 36rem;
  color: white;
  padding-top: 41px;
  position: relative;
  border-radius: 9px;
  margin: 0 auto;
}

.title-band {
  font-size: 3.2em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--font-bold);
}

#title-bg-white {
  color: var(--secondary-color);
  text-align: left;
}

#title-bg-white span {
  color: var(--primary-color);
}

.band-service h3 {
  position: absolute;
  font-size: 17em;
  color: #ffffff17;
  left: 49%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 33em;
}

.prestation {
  display: flex;
  align-items: center;
  margin-top: 5em;
  position: absolute;
  justify-content: center;
  width: 100%;
}

.prestation img {
  width: 194px;
  height: 194px;
  border-radius: 16px;
  transition: 0.4s;
  filter: brightness(0.6);
  margin: 0 16px;
}

.prestation img:hover {
  filter: brightness(1);
  transform: scale(1.02);
}

.prestation {
  position: relative;
}

.prestation span {
  position: absolute;
  font-weight: var(--font-bold);
  left: 13%;
  top: 78%;
  font-size: 1.3em;
  text-transform: uppercase;
}

.maigre,
.detente,
.muscle {
  position: relative;
}

/* PROMO INSTAGRAM */
#promo-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  background: #f6f5f4;
  padding: 4em 0;
}

.title-promo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  line-height: 52px;
}

.title-promo p {
  width: 13em;
  margin: -12px 0;
}

.title-promo span {
  color: var(--primary-color);
  font-size: 20px;
  background: #ffe2d9;
  padding: 2px 9px;
}

.image-promo img {
  width: 27em;
  margin-right: 2em;
}

.contenue-promo {
  margin: 32px 0;
}

.promo {
  display: flex;
  justify-content: left;
  align-items: baseline;
  margin: 37px 0;
}

.promo i {
  color: var(--primary-color);
  font-size: 2em;
}

.promo p {
  margin: 0 22px;
  font-size: 2em;
  width: 24em;
  font-weight: 700;
  line-height: 36px;
}

/* INFOS PRATIQUE */
.bloc-infos-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-text-container {
  cursor: context-menu;
  width: 813px;
  margin-top: 1em;
  display: flex;
}

.icon-text {
  display: flex;
  margin-right: 3em;
  color: #3B3B3B;
}

.icon-text p {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
}

.icon-text i {
  font-size: 23px;
  margin-right: 13px;
}

/* ---------VIDEO-------------- */

.publicity {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
  padding: 4em 0;
  width: 100%;
}

.publicity video {
  width: 53%;
  border-radius: 12px;
  box-shadow: 0 4px 76px #00000030;
}

#cest-partie {
  position: relative;
}

.motif {
  width: 18em;
  fill: none;
  stroke: var(--primary-color);
  filter: drop-shadow(13px 14px 9px rgba(0, 0, 0, 0.2));
  stroke-miterlimit: 10;
  stroke-width: 40px;
  position: absolute;
  z-index: -1;
  top: 20em;
  margin-left: -8%;
  animation-name: motifFall;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes motifFall {
  0% {
    left: 10%;
    rotate: 0deg;
  }
  50% {
    left: 85%;
    rotate: 180deg;
  }
  100% {
    left: 10%;
    rotate: 0deg;
  }
}

/* -------Articles------------------ */
.all-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 7em;
}

.article_bloc {
  background-color: white;
  box-shadow: 0 0 39px #00000024;
  width: 27em;
  padding: 21px 0;
  position: relative;
  border-radius: 9px;
  display: flex;
  align-items: center;
  transition: 0.9s;
  margin: 0 6em 3em;
}

.Article_bloc:hover {
  box-shadow: 0 0 30px #00000061;
}

.carre_texte {
  display: flex;
  padding: 0 0 0 66px;
}

.carre_texte img {
  position: absolute;
  border-radius: 9px;
  width: 10em;
  right: 23em;
  top: 1.5em;
  box-shadow: 12px 12px 21px #0000002b;
}

.texte_bloc h1 {
  color: grey;
  font-size: 1em;
}

.texte_bloc h2 {
  font-weight: 500;
  font-size: 19px;
}

.texte_bloc p {
  color: grey;
  font-size: 12px;
  cursor: context-menu;
}

.btn_bloc {
  background: var(--primary-color);
  width: 7em;
  height: 2em;
  text-align: center;
  padding: 3px 0;
  border-radius: 30px;
  cursor: pointer;
}

.btn_bloc a {
  text-decoration: none;
  color: white;
}

.btn_bloc a:hover {
  color: white;
}

/* ----------Localisation----------- */
.location {
  background: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
  flex-wrap: wrap;
}

.location iframe {
  border: 0;
  border-radius: 24px;
  width: 43em;
  height: 23em;
  margin-right: 2em;
}

.info-itineraire {
  background: #07514a;
  padding: 11px;
  border-radius: 15px;
  margin: 1em 0;
  color: #14d4c2;
}

#itinéraire {
  font-weight: bold;
  text-decoration: underline;
}

#retrouver h5 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #ffffff;
  color: #ff9d4700;
  font-size: 392%;
  text-transform: uppercase;
}

#adresse {
  font-size: 235%;
  text-transform: uppercase;
}

#horaire {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}


table {
  cursor: context-menu;
  font-size: var(--font-size);
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

caption {
  font-size: 2em;
  padding: 10px;

  font-weight: var(--font-bold);
  text-align: left;
  margin-bottom: 18px;
}

th, td {
  text-align: left;
  padding: 18px;
}

.active-day {
  background-color: #C4E3D4;
  color:#06894C;
}

#surlignement {
  background-color: var(--primary-color);
  border-radius: 29px;
  padding: 0 1em;
}

#itinÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©raire {
  margin-top: 35px;
  font-size: 134%;
}

#texte-itinÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©raire {
  padding-right: 34%;
  font-size: 70%;
}

#texte-itinÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©raire
  span {
  color: #56001d;
  margin-right: 22px;
}

/* -------Avis et commentaires---------------- */

.avis {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 3em 0;
}

#Gif-like {
  position: absolute;
  width: 100%;
  filter: opacity(0.5);
  display: block;
}

#like {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 5em;
  text-transform: uppercase;
  margin-top: 26px;
  border-radius: 9px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(59, 58, 58);
  color: white;
  text-decoration: underline rgb(239 126 23);
  text-underline-position: under;
  text-align: center;
}

.temoignage {
  cursor: context-menu;
  border-radius: var(--border-radius);
  margin: 9px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27px;
  align-items: center;
  border: 1px solid #0707074a;
  background: linear-gradient(45deg, #e0e0e0, white);
}

#pp {
  vertical-align: middle;
  width: 65px;
  border-radius: 51px;
  box-shadow: 0px 2px 19px #00000061;
}

.temoignage #nom {
  top: 5.2em;
  left: 85px;
}

.temoignage p {
  font-size: 19px;
  line-height: 1em;
  color: #161a26;
  top: 46%;
  margin: 0 16px;
}

.temoignage .nom1 {
  display: flex;
  justify-content: center;
  padding-left: -176px;
  flex-direction: column;
  align-items: center;
}

.star {
  display: flex;
  left: 23px;
  top: 16em;
  margin-top: 1em;
}

.star i {
  font-size: 18px;
  margin-right: 0.5em;
  color: #ff9e00;
}

.product,
#scrollez {
  display: none;
}

/* CONTACTEZ-NOUS (bas de page) */
#contact-us {
  height: 20em;
  display: flex;
  justify-content: center;
}

.bg-contact-us {
  position: relative;
  background: url(../img/banner/material.jpg);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15em;
  width: 90%;
  border-radius: 19px;
}

.bg-contact-us a {
  height: 180px;
  background: var(--primary-color);
  transition-duration: .4s;
  padding: 77px;
  border-radius: 0 19px 19px 0;
  position: absolute;
  right: 0px;
  font-size: 29px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.bg-contact-us a:hover {
  background:var(--hover-primary-color);
}


/* ----------Footer------------------- */

footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  color: white;
  width: 100%;
  flex-wrap: wrap;
  padding: 5em 64px;
  align-items: flex-start;
  position: relative;
}

#credit {
  font-size: 66%;
  position: absolute;
  bottom: 1em;
  color: #ffffff7a;
  left: 32px;
}

footer i {
  font-size: 33px;
  color: #fff;
  margin-right: 19px;
}

.fa-brands.fa-facebook:hover {
  color: #6ca3ff;
}
.fa-brands.fa-instagram:hover {
  color: #ffb9a3;
}
.fa-brands.fa-youtube:hover {
  color: #ff5c5c;
}

.bloc-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-media {
  display: flex;
  align-items: center;
}

.title-footer {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
}

.bloc-footer a,
.bloc-footer p {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.bloc-footer a:hover {
  color: #f48728;
}

/*Page A_propos*/

.modele {
  z-index: 2;
  width: 78%;
  margin-top: -22%;
  margin-left: 64%;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 0.9s;
  cursor: context-menu;
}

.intro_A-propos {
  color: #161a26d6;
  text-align: center;
  margin: 3% 23%;
}

.coach_profil {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 3;
  margin-top: -48%;
}

.coach_profil img {
  border-radius: 12px 12px 0px 0;
  width: 100%;
}

.coach_nom {
  background-color: #f5f6fd;
  width: 13%;
  margin-right: 1em;
  border-radius: 12px;
  box-shadow: 0px 7px 10px #0c0f201f;
  z-index: 1;
}

.coach_nom h1 {
  color: #ff7e56;
  text-align: center;
  font-size: 133%;
  margin-top: 20px;
}

.coach_nom p {
  text-align: center;
  font-size: 101%;
  margin-bottom: 32px;
  color: #6d6e72;
}

#Salle-titre {
  font-size: 5em;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(59, 58, 58);
  color: #17171700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1em;
}

.Article_salle {
  display: flex;
  margin: 7em auto;
  width: 71em;
  padding: 0 5px;
}

#Salle_de_sport {
  width: 54%;
}

.texteNbtn {
  padding: 90px 0em 0 2em;
  font-size: calc(25px+3.3vw);
}

.texteNbtn #inscrire1 {
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  border: none;
  text-decoration: none;
  padding: 3px 20px;
  font-size: 20px;
  border-radius: 34px;
}

#inscrire1:hover {
  background: #ff511a;
}

/*-----Rectangle_rouge*/

.rectangle_rouge {
  background: linear-gradient(45deg, #f24e1e, #ffb2ad);
  width: 100%;
  height: 24em;
  position: relative;
  overflow: hidden;
}

#texte1 {
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: -93px;
  line-height: 65px;
  position: absolute;
  left: 23%;
  top: 92px;
}

#texte1 span {
  font-size: 3em;
  margin-left: -8px;
}

#modele_pub {
  width: 29em;
}

#qr_code {
  width: 14em;
  position: absolute;
  left: 68%;
  top: 21%;
  border-radius: 23px;
}

#FAQ {
  font-size: 5em;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(59, 58, 58);
  color: #17171700;
}

.NotreSalle {
  padding: 0% 7%;
  margin-bottom: 4%;
}

.NotreSalle h1 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #a6a6a6;
  color: #ffffff;
  text-decoration: underline rgb(239 126 23);
  font-size: 5em;
  text-align: center;
}

.NotreSalle p {
  margin-top: 3%;
  font-size: 1.3em;
}

#Salle-img {
  width: 100%;
  height: 42em;
  border-radius: 7px;
  margin-top: 3%;
  position: relative;
}

.btn_inscrire_salle {
  background: #f7815c;
  width: 100%;
  margin-top: 12px;
  padding: 1em 0;
  border-radius: 6px;
  text-align: center;
}

.btn_inscrire_salle a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

#logo_blanc {
  width: 89%;
}

.pub_inscription {
  width: 64%;
  height: 28em;
  position: relative;
  margin: 4% auto;
  display: flex;
}

.slogan_btn {
  background-color: #f44336;
  width: 64%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn_inscrire {
  background-color: white;
  text-align: center;
  border-radius: 34px;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 53px;
  padding: 6px 3%;
}

.btn_inscrire a {
  color: #f44336;
  font-weight: 600;
  text-decoration: none;
}

/* INSCRIPTION */
.form-contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10em;
  font-size: 16px;
}

.iframe-container,
.form-customer {
  display: flex;
  flex-direction: column;
}

.iframe-container {
  margin-bottom: 1em;
}

.form-contact span {
  text-transform: uppercase;
  font-weight: 700;
}

.form-contact p {
  color: #2125297d;
}

.form-customer {
  margin-left: 1em;
}

.form-customer input,
.form-customer textarea {
  border: none;
  background: #f2f2f2;
  margin-bottom: 14px;
  padding: 12px 331px 12px 21px;
}

.form-customer input:hover,
.form-customer textarea:hover {
  background: #e8e8e8;
}

.form-contact textarea {
  height: 64px;
  transition-duration: 0.5s;
}

.form-contact textarea:focus {
  height: 203px;
}

.form-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#send-btn {
  background: #ff7c53;
  border: none;
  padding: 11px;
  width: 9em;
  font-size: 18px;
  color: #fff;
  transition-duration: 0.4s;
}

#send-btn:hover {
  background: #ff6953;
}

label {
  display: none;
}

/* --------PAGE-FORFAITS---------------- */

header #logo-lien {
  width: 80%;
  height: 5%;
  margin-right: -59px;
}

#banniere_tarifs,
#A-propos-img,
#banniere_material {
  width: 100%;
  filter: brightness(0.5);
}

.intro_equipement {
  color: #161a26d6;
  text-align: center;
  padding: 0 6%;
}

.intro_equipement p {
  font-weight: 400;
}

.invitation {
  background: linear-gradient(178deg, var(--primary-color), red);
  display: flex;
  align-items: center;
  color: white;
  font-size: 254%;
  margin: 0 auto;
  width: 67%;
  position: relative;
}
.invitation img {
  width: 28%;
}

.invitation p {
  font-size: 143%;
  padding: 0 20px;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(255 255 255);
  color: #17171700;
  text-transform: uppercase;
  line-height: 63px;
}

.btn_inscrire3 {
  background-color: #ff2916;
  padding: 0px 12px;
  position: absolute;
  left: 30%;
  font-size: 23px;
  border: solid white 2px;
  border-radius: 54px;
}

.btn_inscrire3:hover {
  background-color: white;
  color: black;
}

.btn_inscrire3 a {
  color: white;
  text-decoration: none;
}

/* --- */


#guenage {
  height: 25em;
  width: 100%;
}

#foot_tarif {
  margin-top: 0px;
}

/* --------Page SE MUSCLER----------------- */

.Gif {
  display: flex;
  justify-content: center;
}

#pompe {
  width: 21%;
  margin-left: 0%;
  margin-top: 5%;
  opacity: -16px;
}

.banniere-muscle {
  background-image: url(../images/banniÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨re-maigrir.png);
  height: 28em;
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fond-muscle {
  background: url(https://images.pexels.com/photos/4473622/pexels-photo-4473622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 47em;
}

#texte-muscle h1 {
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #d60;
  color: #ffffff;
  font-size: 5em;
}

#texte-muscle p {
  margin-bottom: 0;
}

.article-muscle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 104px;
  padding: 50px 52px;
}

.article-muscle img {
  width: 554px;
  height: 324px;
  border-radius: 31px;
  margin-left: 104px;
  box-shadow: 0 0px 24px #898989;
}

.entrainements {
  margin: 7em 0;
}

.entrainements h2 {
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #939393;
  color: #ffffff;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
}

.entrainements img {
  width: 414px;
  margin-right: 27px;
  border-radius: 5px;
  margin-top: 27px;
}

.prestations-muscle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0em 18em;
}

.prestations-muscle a {
  cursor: url(../images/bras.png), auto;
}

.prestations-course a {
  cursor: url(../images/chaussure.png), auto;
}

/* -----A propos------ */

#A-propos-main {
  background: rgb(132, 132, 132);
}

/* ---Equipement---- */

#equipement_banniere {
  width: 100%;
}

.machine,
.machine2 {
  display: flex;
  width: 67%;
  margin: 5em auto;
  color: black;
  background: white;
  justify-content: center;
  align-items: center;
}

.machine span {
  font-weight: 700;
}

.machine2 {
  flex-direction: row-reverse;
}

.machine img,
.machine2 img {
  border-radius: 4px;
  width: 22em;
}

.machine p,
.machine2 p {
  color: black;
  font-size: 74%;
  height: 61%;
  text-align: justify;
}

.titreNtexte {
  margin-left: 22px;
  margin-right: 13px;
}

.titreNtexte a:hover {
  color: #ff5722;
  font-weight: 500;
}

#photo_paysage {
  display: none;
}

.article_infos2 img {
  width: 372px;
}

.titreNtexte h1,
.titreNtexte h2,
.titreNtexte h3,
.titreNtexte h4,
.titreNtexte span {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  margin: -17px 0;
}

.titreNtexte span {
  color: var(--primary-color);
}
/* ----detente---- */

.contenue a {
  color: #ff7f00;
}

.contenue h5 {
  font-size: 2rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin: 140px 0;
}

/* -----Media-query-Accueil----- */

/*SMARTPHONE*/

@media screen and (max-width: 1177px) {
  .article-muscle img {
    display: none;
  }

  .article-muscle {
    margin-top: 104px;
    padding: 0 11%;
  }

  #pompe {
    width: 52%;
    margin-top: 11%;
  }
}

/* -------Media Query bloc------------ */

@media screen and (max-width: 1459px) {
  .banner {
    background-position-y:0;
  }

  .Offre {
    height: auto;
  }

  .Offre article p {
    font-size: 86%;
  }

  #banniere_tarifs {
    width: 100%;
    height: 30em;
  }

  .bloc-insta-rose {
    display: none;
  }
}

/*A-propos*/

@media screen and (max-width: 1270px) {
  .machine img,
  .machine2 img {
    border-radius: 4px;
    width: 100%;
  }

  .machine,
  .machine2 {
    display: flex;
    align-items: auto;
    margin-bottom: none;
    width: 97%;
    /* overflow: auto; */
  }

  .titreNtexte {
    margin: 0 13px 0 22px;
  }
}

@media screen and (max-width: 1108px) {
  .Article_salle {
    width: 94%;
    flex-wrap: wrap;
    justify-content: center;
  }

  #Salle_de_sport {
    width: 100%;
  }

  .texteNbtn {
    padding: 2em 0em 0 0em;
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    background-position-y:0;
  }
  #promo-instagram {
    flex-direction: column;
  }
  /* INSCRIPTION */
  .form-contact {
    flex-direction: column;
  }

  .form-customer {
    margin: 0;
    width: 100%;
  }
  .map {
    width: 100%;
  }

  .iframe-container iframe {
    width: 100%;
  }
}

/*Tablette*/

@media screen and (max-width: 768px) {
  .bg-top {
    display: none;
  }

  .Offre {
    margin: 0 1em;
  }

  header {
    background-color: var(--primary-color);
  }

  header nav {
    display: block;
    justify-content: none;
    align-items: none;
  }

  header #logo {
    margin-top: 2em;
    position: relative;
    z-index: 20;
    margin-left: 2px;
  }

  .toggle {
    display: block;
    cursor: pointer;
    margin-top: -51px;
    margin-left: 98%;
    position: relative;
    z-index: 20;
  }

  .ouvrir {
    display: block;
    font-size: 2em;
  }

  .toggle .fermer {
    display: none;
  }

  .open .ouvrir {
    display: none;
  }

  .open .fermer {
    display: block;
    font-size: 2em;
  }

  .w-100 {
    width: 100% !important;
    height: auto;
    margin-top: 8em;
  }

  #A-propos-img,
  #banniere_tarifs {
    width: 100%;
    height: auto;
    margin-top: 9em;
    filter: none;
  }

  /* ------------- */
  header nav li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 29em 0;
    font-size: 12px;
    background: #161a26;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform ease 0.9s;
  }

  header nav ul li a {
    padding: 1em 2em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  header nav a > span {
    border: solid white 1px;
    padding: 12px 33px;
    border-radius: 53px;
  }

  header nav ul li a:hover {
    background: none;
    color: white;
  }

  header nav ul :nth-of-type(5):hover {
    background-color: transparent;
  }

  header nav li a > span:hover {
    border: solid white 1px;
    background-color: #ff5722;
  }

  header nav ul a {
    text-transform: none;
    font-size: 2em;
  }

  .bloc_cookies {
    width: 98%;
    left: 1%;
  }

  .open header nav li {
    transform: translateX(0);
  }

  .bloc-insta-rose {
    display: none;
  }

  .band-service h5 {
    display: none;
  }

  .publicity #motif1 {
    display: none;
  }

  .publicity #motif2 {
    display: none;
  }

  .maintenant {
    display: none;
  }

  .prestation img {
    margin-right: 2em;
    width: 85%;
  }

  #like {
    font-size: 383%;
  }

  .avis {
    flex-wrap: wrap;
  }

  .publicity video {
    width: 97%;
  }

  .publicity {
    padding: 12px 0;
  }

  .all-articles {
    margin-left: 11%;
  }

  .location {
    background: none;
  }

  .location-info {
    color: rgb(17, 17, 17);
    font-size: 91%;
    left: 27px;
    top: 23em;
  }

  #retrouver h5 {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ffffff;
    color: #ff9d4700;
    font-size: 252%;
    text-transform: uppercase;
  }

  .recrute-newsletter {
    width: 97%;
  }

  #texte-itinÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©raire {
    padding-right: 34%;
    font-size: 69%;
  }

  #retrouver {
    line-height: 38px;
  }

  section iframe {
    width: 94%;
    height: 18em;
    top: 26px;
    left: 3%;
    border-radius: 6px;
  }

  .location iframe {
    margin: 0;
  }

  #map {
    display: none;
  }

  .recrute-newsletter {
    flex-direction: column;
  }

  .illustration_bas img {
    width: 72%;
  }

  .candidature {
    width: 99%;
  }

  .newsletter {
    width: 99%;
    margin-top: 2em;
  }

  .fond_offre {
    margin: 31px auto;
  }

  .Offre article {
    width: 97%;
    margin: 0 auto;
    height: auto;
  }

  .Offre article h1 {
    font-size: 36px;
  }

  .Offre article p {
    font-size: 63%;
  }

  .avis {
    display: none;
  }

  .product {
    display: block;
  }

  .ClassicForfait:hover,
  .PremiumForfait:hover {
    box-shadow: none;
    transform: scale(1);
    z-index: 1;
  }

  .ClassicForfait:hover {
    transform: translateX(0px);
  }

  .ClassicForfait:hover + .PremiumForfait {
    opacity: 1;
    transform: scale(1);
  }

  /*Page A propos*/
  .Texte-presentation-salle {
    width: 96%;
    background: #ffac59;
    color: white;
    margin: 8% auto;
    display: block;
    z-index: 2;
    border-radius: 7px;
  }

  .Texte-presentation-salle p {
    padding: 1em 1em;
  }

  #presentation_img {
    width: 100%;
    border-radius: 7px 7px 0 0px;
  }

  .Texte-presentation-salle p {
    padding: 1em 1em;
    flex: 1;
    margin: auto;
  }

  .NotreSalle {
    padding: 0% 2%;
  }

  #women {
    width: 52%;
    border-radius: 22px 22px 0 0;
  }

  .slogan_btn {
    background-color: #f44336;
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 58px;
    border-radius: 0 0 22px 22px;
  }

  .btn_inscrire {
    bottom: 5px;
    padding: 6px 3%;
  }

  #logo_blanc {
    width: 48%;
    position: absolute;
    top: 41%;
  }

  #texte-pub {
    display: none;
  }

  #modele {
    width: 60%;
    margin-top: -9%;
    margin-left: -85%;
    display: none;
  }

  .coach_profil {
    margin-top: -67%;
  }

  .intro_A-propos {
    margin: 3% 8%;
  }

  .NotreSalle h1 {
    font-size: 322%;
  }

  #Salle-img {
    height: auto;
  }

  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }

  .product-container {
    padding: 3px 3vw 21px 0vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .product-container::-webkit-scrollbar {
    display: none;
  }

  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }

  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }

  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }

  .product-card:hover .card-btn {
    opacity: 1;
  }

  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }

  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }

  .product-brand {
    text-transform: uppercase;
  }

  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }

  .price {
    font-weight: 900;
    font-size: 20px;
  }

  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }

  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }

  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }

  .nxt-btn {
    right: 0;
  }

  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }

  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }

  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .collection {
    position: relative;
  }

  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }

  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

  .temoignage {
    background-color: white;
    height: 15em;
    border-radius: 10px;
    margin: 2em 0 0 5%;
  }

  #like {
    margin-top: -40px;
  }

  #pp {
    vertical-align: middle;
    width: 65px;
    border-radius: 51px;
    box-shadow: 0px 2px 19px #00000061;
  }

  .temoignage #nom {
    top: 5.5em;
    left: 35%;
    text-align: center;
  }

  .temoignage p {
    font-size: 18px;
    line-height: 1em;
    color: #161a26;
    top: 49%;
    margin: 0 -1px;
    left: 13%;
  }

  .star {
    display: flex;
    left: 12%;
    top: 86%;
  }

  .star img {
    width: 17px;
    margin-right: 0.5em;
  }

  .texteNbtn {
    padding: 1em 0em 0 0em;
  }

  .texteNbtn p {
    font-size: 11px;
  }

  /*tarif*/

  #tarif_fond {
    display: none;
  }

  /*Inscription*/

  #iframe_inscription {
    width: 105%;
    height: 17em;
    margin: 3em auto;
  }

  .NotreSalle p {
    font-size: 94%;
  }

  .coach_profil {
    display: none;
  }

  .coach_profil1 img {
    width: 12em;
    margin-right: 13px;
    border-radius: 20px;
  }

  .coach_profil1 {
    position: relative;
  }

  .coach_nom-carousel {
    position: absolute;
    bottom: 0px;
    left: 11px;
    color: white;
  }

  .all-articles {
    display: none;
  }

  .band-service {
    display: none;
  }

  .Bloc_prestation {
    position: relative;
  }

  .Bloc_prestation span {
    position: absolute;
    left: 12px;
    top: 203px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }

  .Bloc_prestation img {
    width: 236px;
    border-radius: 20px;
    margin-right: 1em;
  }

  .Bloc_carousel {
    margin-right: 5em;
  }

  .article-bloc {
    background-color: white;
    box-shadow: 0px 1px 10px #00000047;
    width: 35em;
    height: 13em;
    position: relative;
    border-radius: 9px;
    display: flex;
    align-items: center;
    transition: 0.9s;
    margin: 0 11% 3em;
  }

  .carre_texte {
    display: flex;
    padding: 0 0 0 147px;
  }

  .carre_texte img {
    position: absolute;
    border-radius: 9px;
    width: 10em;
    right: 28em;
    top: 1.5em;
    box-shadow: 12px 12px 21px #0000002b;
  }

  .modele {
    display: none;
  }

  /* ---equipement */

  .titreNtexte {
    border-radius: 23px;
    margin-left: 0px;
  }

  .machine p,
  .machine2 p {
    overflow: initial;
    height: auto;
  }

  .machine,
  .machine2 {
    margin-bottom: 10em;
    position: relative;
    flex-direction: column-reverse;
  }

  #qr_code {
    width: 24%;
    left: 68%;
    top: 26%;
  }

  #texte1 {
    display: none;
  }

  #modele_pub {
    width: 18em;
  }
  #dark-change {
    right: 11%;
    top: 50%;
  }

  #banniere_tarifs,
  #A-propos-img,
  #banniere_material {
    margin-top: 9em;
  }
}

/* --------------------------------------------------------- */

/*Smartphone*/

@media screen and (max-width: 424px) {
  .services-trio {
    padding: 0px 8vw 22px 89vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
  }

  .title-promo {
    font-size: 2em;
  }

  #promo-instagram {
    flex-direction: column;
  }

  .nomNmail input {
    padding: 11px 8%;
    margin-top: 1em;
  }

  #foot_tarif {
    margin-top: 73em;
  }

  .candidature {
    width: 99%;
    position: relative;
  }

  #retrouver h5 {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
    color: #ff9d4700;
  }

  .bloc_presta {
    box-shadow: 3px 3px 0px #121736d4;
    background-color: #f9f8ff;
    margin-top: 2em;
  }

  .Allpresta {
    margin-top: 2em;
  }

  #cv {
    padding: 9px 2%;
    position: absolute;
    left: 21%;
    width: 58%;
  }

  #like {
    font-size: 234%;
    text-align: center;
  }

  .candidature p,
  .newsletter p {
    padding: 0 0em;
    margin: 2em;
  }

  .recrute-newsletter {
    margin: 1em auto 1em;
  }

  /*A-vosmarque*/

  .band-service {
    width: 97%;
    height: 78rem;
    margin: 0 auto;
  }

  .prestation {
    flex-wrap: wrap;
    margin-top: 0em;
  }

  .prestation img {
    width: 81%;
    margin-top: 15px;
    margin-left: 11%;
  }

  .muscle span,
  .dÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©tente
    span,
  .maigre span {
    position: absolute;
    left: 15%;
    top: 84%;
    font-size: 192%;
    text-transform: uppercase;
  }

  .band-service h4 {
    font-size: 204%;
  }

  .article-bloc {
    width: 19em;
    margin: 0 6% 3em;
  }

  .carre_texte img {
    width: 44%;
    right: 68%;
    top: 23%;
  }

  .texte_bloc h1 {
    font-size: 64%;
  }

  .texte_bloc h2 {
    font-size: 103%;
  }

  .texte_bloc p {
    font-size: 64%;
  }

  /* page_equipement-- */

  #photo_paysage {
    display: block;
    width: 100%;
  }

  .titreNtexte {
    margin: none;
  }

  #material {
    display: none;
  }

  .machine,
  .machine2 {
    width: auto;
    display: block;
    margin: 3em 3em;
  }

  .titreNtexte p {
    font-size: 1em;
  }

  .machine p,
  .machine2 p {
    overflow: auto;
    font-size: 9px;
  }
  .intro_tarif h1,
  .intro_equipement h1 {
    margin-top: 23%;
  }

  .machine img,
  .machine2 img {
    display: none;
  }

  #dark-change {
    display: none;
  }

  /* ----A-propos---- */

  .Article_salle {
    margin: 2em auto;
  }

  #Salle-titre {
    font-size: 2em;
  }

  .Article_salle {
    margin: 4em auto;
  }

  /* -----pop-up cookie----- */

  .bloc_cookies {
    bottom: 2px;
  }

  .content {
    padding: 8vw 10vw;
  }

  /* ------Tarif----- */

  .Allpresta {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .band-service {
    height: 60em;
  }

  .location {
    background: none;
    height: -156px;
  }

  #retrouver {
    line-height: -32px;
  }

  #retrouver h5 {
    font-size: 230%;
    line-height: 0px;
  }

  .location-info {
    font-size: 64%;
    margin-top: 4em;
  }

  .recrute-newsletter {
    width: 97%;
    margin: 3em auto 1em;
  }

  .contenue h5 {
    font-size: 123%;
  }
}
