* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-family);
}

ul {
  margin: 0;
}

/* ----Barre de progression------- */
#barre {
  height: 10px;
  border-radius: 0 50px 50px 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: linear-gradient(to right, rgb(255 223 213), rgb(255 105 58));
}

/*Scrollbars */

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #f9c0ae;
}

::-webkit-scrollbar-thumb {
  background-color: #f46c36;
  border: #f9c0ae 1px solid;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff8352;
}

/* -------burger-menu--------- */
/* BURGER-MENU */
.menu-bg,
.menu-burger,
.menu-items {
  display: none;
}
.menu {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  right: 25px;
  top: 25px;
}

.menu-bg {
  backdrop-filter: blur(25px);
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  right: 50px;
  top: 31px;
  box-shadow: 0 0 33px #73281163;
  background: var(--primary-color);
  pointer-events: none;
  transition: 0.3s;
  transform: translate3d(50%, -50%, 0);
  transform-origin: center center;
}

.menu-bg.fs {
  transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 318vw;
}

.menu-burger {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  right: 25px;
  top: 0px;
  color: white;
  padding-top: 11px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: 0.4s;
  transform-origin: center;
}

.menu-burger.fs {
  transform: rotate(-180deg) translateY(10px);
  top: 39px;
}

.menu-items {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 10px;
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.4s;
  margin-top: 100px;
  transform: translateY(-200%);
  pointer-events: none;
}

.menu-items div {
  transition: 1s;
  opacity: 0;
  margin-top: 0px;
}

.menu-items.fs {
  transform: translateY(304px);
  pointer-events: auto;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.menu-items.fs div {
  opacity: 1;
  margin-top: 75px;
}

.container1#blur.active {
  filter: blur(17px);
  transition: 0.9s;
}

body {
  padding: 0;
  background: #ffffff;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: none;
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-48deg) translate(-90px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(48deg) translate(-69px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: -52em;
  left: 72em;
  width: 141vh;
  min-height: 114vh;
  background: linear-gradient(to right, rgb(231 122 24), #ff5200);
  padding-top: 18em;
  transition: 0.4s;
  border-radius: 0 0 60px 60px;
  margin: 0px -50em;
  padding-bottom: 6em;
}

.mobile-nav.is-active {
  left: 72em;
  top: 66px;
  z-index: 1;
  display: none;
}

.mobile-nav a {
  display: none;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  margin: 118px auto 16px;
  padding: 55px 158px;
  font-size: 7em;
  background-color: #ffb473;
  color: #fff;
  border-radius: 29px;
}

.mobile-nav a:hover {
  color: white;
  background-color: #ff4d4d;
}

/*Cookies pop-up*/

.cookie-consent-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  align-items: flex-end;
}

.cookie-consent-modal.active {
  display: flex;
}

.content {
  padding: 2vw 2vw;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff3d00, #ffcc82);
}

.content h1 {
  font-size: 1.2em;
  margin-bottom: 1px;
}

.content p {
  color: #ffffff;
  font-size: 14px;
}

#cookies {
  font-size: 29px;
  font-weight: 700;
  color: black;
}

.bloc_cookies {
  width: 33%;
  position: absolute;
  bottom: 12px;
  left: 7px;
}

.bloc_cookies img {
  width: 22%;
  position: absolute;
  left: 73%;
  filter: contrast(0.5);
  top: 5%;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.btn {
  border: none;
  outline: none;
  padding: 0.8em 1.5em;
  width: 100px;
  margin-right: 1em;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn.accept {
  background-color: #ff5722;
  color: white;
}

.btn.accept:hover {
  background-color: #f44336;
  color: white;
}

/* -----------HEADER----------------- */

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  text-transform: uppercase;
  padding: 13px;
  transition: all 0.25s ease-in-out;
}
header.scroll {
  background-color: var(--primary-color);
}
.toggle {
  display: none;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav li {
  display: flex;
  align-items: center;
  margin-right: 13em;
}
.nav-link {
  color: #fff;
  font-size: 16px;
  padding: 12px 40px;
  border-radius: 114px;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  transition-duration: 0.6s;
  white-space: nowrap;
}
.nav-link.active {
  background: #fae4dd;
  color: #f03900;
}
.nav-link:nth-child(5) {
  background: #f03900;
  color: #fff;
}
.nav-link:hover {
  background: var(--hover-primary-color);
  color: var(--text-on-dark);
}
header #logo {
  width: 14em;
  transition: 0.4s;
  margin-right: 2em;
}
header #logo:hover {
  transform: translateY(-0.3em);
  background-size: cover;
}

/* BANNER */
.banner {
  position: relative;
  background: url(../img/banner/banner-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -7em;
  height: 70vh;
}
.banner span {
  color: var(--primary-color);
}
.banner-form {
  position: relative;
  background: url("../img/banner/banner-form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 70vh;
}

.heading-label {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: var(--font-bold);
}

.text_btn {
  position: absolute;
  bottom: 3em;
  left: 3em;
}

.text_btn p {
  font-size: 24px;
  color: var(--text-on-dark);
  width: 73%;
}

.banner h1 {
  font-size: var(--font-size-banner);
  font-weight: var(--font-black);
  text-shadow: 0 4px 17px #0000009e;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 61px;
}

.call-to-action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 35px;
  font-size: 23px;
  font-weight: 500;
}

.call-to-action a {
  color: #fff;
  margin-right: 3px;
  padding: 10px 24px;
  border-radius: 64px;
  transition-duration: 0.4s;
}

.call-to-action a:nth-child(1) {
  background: var(--primary-color);
}
.call-to-action a:nth-child(1):hover {
  background: var(--hover-primary-color);
}

.call-to-action a:nth-child(2) {
  background: #f5f5f5;
  color: #000000;
}
.call-to-action a:nth-child(2):hover {
  background: #d1d1d1;
  color: #000000;
}

.incitation {
  display: block;
  color: #ffff;
  font-family: var(--font-family-2);
  font-size: 24px;
  position: absolute;
  right: 2em;
  bottom: -2em;
}

.hidden-element {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: -8em;
  bottom: -2em;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.hover-element:hover + .hidden-element {
  opacity: 1;
  visibility: visible;
}

/* -------------FORMULES------------------ */
.all-formules {
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.form {
  margin-right: 2em;
  border-radius: 55px;
  padding: 40px 25px;
  box-shadow: 0 0 22px #00000036;
}

.form > .call-to-action {
  display: flex;
  justify-content: center;
}

.form span {
  font-size: 48px;
}

.form p {
  font-size: 67px;
  font-weight: var(--font-bold);
}

.offre p {
  background: #ff9b7b;
  color: black;
  border-radius: 55px;
  font-size: 20px;
  padding: 13px;
  text-align: center;
}

.all-options {
  margin-top: 20px;
}

.option {
  line-height: 55px;
}

.option i {
  font-size: 24px;
  margin-right: 14px;
}

.fa-solid.fa-xmark {
  color: #f44336;
}

.all-options span {
  font-size: 18px;
}

/* services inclus */
.all-round-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-inclus {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 11em 0;
}

.round-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
}

.round-service img {
  width: 12em;
  border-radius: 33em;
  filter: brightness(1.2);
}

.services-inclus span {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 19px;
}

/* IFRAME -HOME */
.iframe-home iframe {
  width: 100%;
  height: 500px;
  border: 0;
}

/* SERVICES TRIO */

.textNservices {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.bloc-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
  padding: 2em;
}

.bloc-band h1 {
  font-size: 35px;
}

.bloc-band span {
  color: #ff693a;
}

.bg-bloc {
  background: var(--secondary-color);
}

.element-decoration-1 {
  background: linear-gradient(45deg, #ff693a, #f6bca9);
  border-radius: 34px;
  padding: 19px;
  margin: 5px 0;
}

.calendar-coach {
  background-color: #ff9f84;
  padding: 10px;
  width: 100%;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-reserved {
  flex: 1;
  margin-right: 1em;
  background: #ffeae4;
  padding: 15px;
  border-radius: 45px;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #ff693a;
  transition: 0.2s;
}
.btn-reserved:hover {
  background: #fff;
}

.more-infos i {
  color: #e06943;
  font-size: 38px;
}
.services-trio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service-text {
  position: relative;
  margin: 1em 2em 0 0;
}

.service-text img {
  width: 20em;
  filter: brightness(0.8);
  transition-duration: 0.4s;
}

.service-text img:hover {
  filter: brightness(1.1);
}

.service-text-p {
  position: absolute;
}

.text-services {
  font-size: 27px;
  position: absolute;
  width: 11em;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
}

.little-title {
  opacity: 0;
  position: absolute;
  top: -77px;
  left: 19px;
  transition: 0.4s;
}

.little-title p {
  font-size: 27px;
  margin: -12px 0;
  top: -105px;
  left: 14px;
}

.little-title span {
  -webkit-text-stroke: 0.7px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.title-service {
  position: absolute;
  top: -40px;
  font-size: 18px;
  left: 19px;
  transition-duration: 0.4s ease-out;
}
.title-service-add {
  opacity: 1;
  transition-duration: 0.4s ease-out;
  position: absolute;
  top: -209px;
  left: 52px;
  font-size: 45px;
  text-shadow: 0 0 17px rgba(0, 0, 0, 0.536);
}

.en-savoir-plus {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.en-savoir-plus a {
  background: var(--primary-color);
  transition-duration: 0.4s;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  color: #fff;
  padding: 14px 33px;
  border-radius: 44px;
  font-size: 16px;
}

.en-savoir-plus a:hover {
  background: var(--hover-primary-color);
}

/* -----Maintenant------------------ */

.maintenant {
  display: flex;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: 2em;
  width: 97%;
  margin: 0;
  overflow: hidden;
  cursor: context-menu;
  height: 50px;
}

.scrolling-animation {
  display: flex;
  animation: now 12s ease-in-out infinite;
}

@keyframes now {
  0% {
    transform: translate(-317px, 10px);
  }
  50% {
    transform: translate(-16px, 10px);
  }
  100% {
    transform: translate(-317px, 10px);
  }
}

.Now {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-right: 2em;
  font-size: 26px;
}

/* ----------A vos marque----------------------- */
.band-service {
  background: linear-gradient(to bottom, #171b31, #8a8c9d);
  width: 97%;
  /* height: 36rem; */
  color: white;
  padding: 40px;
  position: relative;
  border-radius: 9px;
  margin: 0 auto;
}

.title-band {
  font-size: 3.2em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--font-bold);
}

#title-bg-white {
  color: var(--secondary-color);
  text-align: left;
}

#title-bg-white span {
  color: var(--primary-color);
}

.band-service h3 {
  position: absolute;
  font-size: 17em;
  color: #ffffff17;
  left: 49%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 17em;
}

.prestation {
  display: flex;
  align-items: center;
  margin-top: 5em;
  position: absolute;
  justify-content: center;
  width: 100%;
}

.prestation img {
  width: 194px;
  height: 194px;
  border-radius: 16px;
  transition: 0.4s;
  filter: brightness(0.6);
  margin: 0 16px;
}

.prestation img:hover {
  filter: brightness(1);
  transform: scale(1.02);
}

.prestation {
  position: relative;
}

.prestation span {
  position: absolute;
  font-weight: var(--font-bold);
  left: 13%;
  top: 78%;
  font-size: 1.3em;
  text-transform: uppercase;
}

.maigre,
.detente,
.muscle {
  position: relative;
}

/* PROMO INSTAGRAM */
#promo-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  background: #f6f5f4;
  padding: 4em 0;
}

.title-promo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  line-height: 52px;
}

.title-promo p {
  width: 13em;
  margin: -12px 0;
}

.title-promo span {
  color: var(--primary-color);
  font-size: 20px;
  background: #ffe2d9;
  padding: 2px 9px;
}

.image-promo img {
  width: 27em;
  margin-right: 2em;
}

.contenue-promo {
  margin: 32px 0;
}

.promo {
  display: flex;
  justify-content: left;
  align-items: baseline;
  margin: 37px 0;
}

.promo i {
  color: var(--primary-color);
  font-size: 2em;
}

.promo p {
  margin: 0 22px;
  font-size: 2em;
  width: 24em;
  font-weight: 700;
  line-height: 36px;
}

/* INFOS PRATIQUE */
.bloc-infos-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-text-container {
  cursor: context-menu;
  width: 813px;
  margin-top: 1em;
  display: flex;
}

.icon-text {
  display: flex;
  margin-right: 3em;
  color: #3b3b3b;
}

.icon-text p {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
}

.icon-text i {
  font-size: 23px;
  margin-right: 13px;
}

/* ---------VIDEO-------------- */

.publicity {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
  padding: 4em 0;
  width: 100%;
}

.publicity video {
  width: 53%;
  border-radius: 12px;
  box-shadow: 0 4px 76px #00000030;
}

#cest-partie {
  position: relative;
}

.motif {
  width: 18em;
  fill: none;
  stroke: var(--primary-color);
  filter: drop-shadow(13px 14px 9px rgba(0, 0, 0, 0.2));
  stroke-miterlimit: 10;
  stroke-width: 40px;
  position: absolute;
  z-index: -1;
  top: 20em;
  margin-left: -8%;
  animation-name: motifFall;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes motifFall {
  0% {
    left: 10%;
    rotate: 0deg;
  }
  50% {
    left: 85%;
    rotate: 180deg;
  }
  100% {
    left: 10%;
    rotate: 0deg;
  }
}

/* -------Articles------------------ */
.all-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 7em;
}

.article_bloc {
  background-color: white;
  box-shadow: 0 0 39px #00000024;
  width: 27em;
  padding: 21px 0;
  position: relative;
  border-radius: 9px;
  display: flex;
  align-items: center;
  transition: 0.9s;
  margin: 0 6em 3em;
}

.Article_bloc:hover {
  box-shadow: 0 0 30px #00000061;
}

.carre_texte {
  display: flex;
  padding: 0 0 0 66px;
}

.carre_texte img {
  position: absolute;
  border-radius: 9px;
  width: 10em;
  right: 23em;
  top: 1.5em;
  box-shadow: 12px 12px 21px #0000002b;
}

.texte_bloc h1 {
  color: grey;
  font-size: 1em;
}

.texte_bloc h2 {
  font-weight: 500;
  font-size: 19px;
}

.texte_bloc p {
  color: grey;
  font-size: 12px;
  cursor: context-menu;
}

.btn_bloc {
  background: var(--primary-color);
  width: 7em;
  height: 2em;
  text-align: center;
  padding: 3px 0;
  border-radius: 30px;
  cursor: pointer;
}

.btn_bloc a {
  text-decoration: none;
  color: white;
}

.btn_bloc a:hover {
  color: white;
}

/* PAGE - CONCEPT */
.description-text-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 3em;
}
.bloc-text {
  flex: 1;
}
.description-text-image img {
  flex: 1;
  border-radius: var(--border-radius);
}
.description-text-image img {
  width: 30em;
  margin-left: 11em;
}
.session {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--secondary-color);
  padding: 1em 0 4em 0;
}
.session::after {
  content: "";
  position: absolute;
  bottom: -211px;
  left: 50%;
  transform: translateX(-50%);
  width: 440px;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffffff;
}
.session h3 {
  color: var(--secondary-color);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  padding: 25px 0;
}
.all-session {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.all-session img {
  width: 25em;
  margin: 5px;
}
/* ----------Localisation----------- */
.location {
  background: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
  flex-wrap: wrap;
}

.location iframe {
  border: 0;
  border-radius: 24px;
  width: 43em;
  height: 23em;
  margin-right: 2em;
}

.info-itineraire {
  background: #07514a;
  padding: 11px;
  border-radius: 15px;
  margin: 1em 0;
  color: #14d4c2;
}

#itinéraire {
  font-weight: bold;
  text-decoration: underline;
}

#retrouver h5 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #ffffff;
  color: #ff9d4700;
  font-size: 392%;
  text-transform: uppercase;
}

#adresse {
  font-size: 235%;
  text-transform: uppercase;
}

#horaire {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}

table {
  cursor: context-menu;
  font-size: var(--font-size);
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

caption {
  font-size: 2em;
  padding: 10px;

  font-weight: var(--font-bold);
  text-align: left;
  margin-bottom: 18px;
}

th,
td {
  text-align: left;
  padding: 18px;
}

.active-day {
  background-color: #c4e3d4;
  color: #06894c;
}

#surlignement {
  background-color: var(--primary-color);
  border-radius: 29px;
  padding: 0 1em;
}

#itinÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©raire {
  margin-top: 35px;
  font-size: 134%;
}

#texte-itinÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©raire {
  padding-right: 34%;
  font-size: 70%;
}

#texte-itinÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©raire
  span {
  color: #56001d;
  margin-right: 22px;
}

/* -------Avis et commentaires---------------- */

.avis {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 3em 0;
}

#Gif-like {
  position: absolute;
  width: 100%;
  filter: opacity(0.5);
  display: block;
}

#like {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 5em;
  text-transform: uppercase;
  margin-top: 26px;
  border-radius: 9px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(59, 58, 58);
  color: white;
  text-decoration: underline rgb(239 126 23);
  text-underline-position: under;
  text-align: center;
}

.temoignage {
  cursor: context-menu;
  border-radius: var(--border-radius);
  margin: 9px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27px;
  align-items: center;
  border: 1px solid #0707074a;
  background: linear-gradient(45deg, #e0e0e0, white);
}

#pp {
  vertical-align: middle;
  width: 65px;
  border-radius: 51px;
  box-shadow: 0px 2px 19px #00000061;
}

.temoignage #nom {
  top: 5.2em;
  left: 85px;
}

.temoignage p {
  font-size: 19px;
  line-height: 1em;
  color: #161a26;
  top: 46%;
  margin: 0 16px;
}

.temoignage .nom1 {
  display: flex;
  justify-content: center;
  padding-left: -176px;
  flex-direction: column;
  align-items: center;
}

.star {
  display: flex;
  left: 23px;
  top: 16em;
  margin-top: 1em;
}

.star i {
  font-size: 18px;
  margin-right: 0.5em;
  color: #ff9e00;
}

.product,
#scrollez {
  display: none;
}

/* CONTACTEZ-NOUS (bas de page) */
#contact-us {
  height: 20em;
  display: flex;
  justify-content: center;
}

.bg-contact-us {
  position: relative;
  background: url(../img/banner/material.jpg);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15em;
  width: 90%;
  border-radius: 19px;
}

.bg-contact-us a {
  height: 180px;
  background: var(--primary-color);
  transition-duration: 0.4s;
  padding: 77px;
  border-radius: 0 19px 19px 0;
  position: absolute;
  right: 0px;
  font-size: 29px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.bg-contact-us a:hover {
  background: var(--hover-primary-color);
}

/* ----------Footer------------------- */

footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  color: white;
  width: 100%;
  flex-wrap: wrap;
  padding: 5em 64px;
  align-items: flex-start;
  position: relative;
}
footer span {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

footer a {
  color: var(--text-on-dark);
}

#credit {
  font-size: 66%;
  position: absolute;
  bottom: 1em;
  color: #ffffff7a;
  left: 32px;
}

footer i {
  font-size: 33px;
  color: #fff;
  margin-right: 19px;
}

.fa-brands.fa-facebook:hover {
  color: #6ca3ff;
}
.fa-brands.fa-instagram:hover {
  color: #ffb9a3;
}
.fa-brands.fa-youtube:hover {
  color: #ff5c5c;
}

.bloc-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-media {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.element-footer {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 15px;
  font-size: 16px;
}
.element-footer a:hover {
  color: var(--primary-color);
}

.title-footer {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
}

.bloc-footer a,
.bloc-footer p {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.bloc-footer a:hover {
  color: #f48728;
}

/*Page A_propos*/

.modele {
  z-index: 2;
  width: 78%;
  margin-top: -22%;
  margin-left: 64%;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 0.9s;
  cursor: context-menu;
}

.intro_A-propos {
  color: #161a26d6;
  text-align: center;
  margin: 3% 23%;
}
/* COACH */
.team-band {
  display: flex;
  justify-content: center;
}
.bloc-band {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
}
.team-bloc-band {
  display: flex;
  justify-content: center;
  align-items: center;
}
.round-icon-border {
  border: solid 2px #fff;
  padding: 8px 14px;
  border-radius: 63px;
  margin: 0 5px;
}
.team-band {
  margin: 7em 0;
}

.card-element {
  background: black;
  border-radius: 19px;
  padding: 5px;
  margin: 1em 2em 0 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
}
.card-element:hover {
  box-shadow: 0 0 90px #0000004f;
  background-color: #ff693a;
}

.card-element:focus {
  background-color: #ff693a;
  color: #fff;
}

.card-element:hover .element-title-img p {
  color: #ff693a;
}
.card-element:hover .element-title-img span {
  color: #ffffff;
}
.card-element span {
  text-transform: uppercase;
  font-weight: 700;
}
.card-element p {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(255 255 255);
  color: #000000;
  margin-top: 12px;
}
.element-title-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.card-img {
  overflow: hidden;
  height: 300px;
  width: 300px;
}
.card-element img {
  border-radius: 12px 12px 0 0;
  width: 100%;
}

.social-media-coach {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 31px;
  margin: 21px 0;
}

.coach_profil {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 3;
  margin-top: -48%;
}

.coach_profil img {
  border-radius: 12px 12px 0px 0;
  width: 100%;
}

.coach_nom {
  background-color: #f5f6fd;
  width: 13%;
  margin-right: 1em;
  border-radius: 12px;
  box-shadow: 0px 7px 10px #0c0f201f;
  z-index: 1;
}

.coach_nom h1 {
  color: #ff7e56;
  text-align: center;
  font-size: 133%;
  margin-top: 20px;
}

.coach_nom p {
  text-align: center;
  font-size: 101%;
  margin-bottom: 32px;
  color: #6d6e72;
}

#Salle-titre {
  font-size: 5em;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(59, 58, 58);
  color: #17171700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1em;
}

.Article_salle {
  display: flex;
  margin: 7em auto;
  width: 71em;
  padding: 0 5px;
}

#Salle_de_sport {
  width: 54%;
}

.texteNbtn {
  padding: 90px 0em 0 2em;
  font-size: calc(25px+3.3vw);
}

.texteNbtn #inscrire1 {
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  border: none;
  text-decoration: none;
  padding: 3px 20px;
  font-size: 20px;
  border-radius: 34px;
}

#inscrire1:hover {
  background: #ff511a;
}

/*-----Rectangle_rouge*/

.rectangle_rouge {
  background: linear-gradient(45deg, #f24e1e, #ffb2ad);
  width: 100%;
  height: 24em;
  position: relative;
  overflow: hidden;
}

#texte1 {
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: -93px;
  line-height: 65px;
  position: absolute;
  left: 23%;
  top: 92px;
}

#texte1 span {
  font-size: 3em;
  margin-left: -8px;
}

#modele_pub {
  width: 29em;
}

#qr_code {
  width: 14em;
  position: absolute;
  left: 68%;
  top: 21%;
  border-radius: 23px;
}

#FAQ {
  font-size: 5em;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(59, 58, 58);
  color: #17171700;
}

.NotreSalle {
  padding: 0% 7%;
  margin-bottom: 4%;
}

.NotreSalle h1 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #a6a6a6;
  color: #ffffff;
  text-decoration: underline rgb(239 126 23);
  font-size: 5em;
  text-align: center;
}

.NotreSalle p {
  margin-top: 3%;
  font-size: 1.3em;
}

#Salle-img {
  width: 100%;
  height: 42em;
  border-radius: 7px;
  margin-top: 3%;
  position: relative;
}

.btn_inscrire_salle {
  background: #f7815c;
  width: 100%;
  margin-top: 12px;
  padding: 1em 0;
  border-radius: 6px;
  text-align: center;
}

.btn_inscrire_salle a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

#logo_blanc {
  width: 89%;
}

.pub_inscription {
  width: 64%;
  height: 28em;
  position: relative;
  margin: 4% auto;
  display: flex;
}

.slogan_btn {
  background-color: #f44336;
  width: 64%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn_inscrire {
  background-color: white;
  text-align: center;
  border-radius: 34px;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 53px;
  padding: 6px 3%;
}

.btn_inscrire a {
  color: #f44336;
  font-weight: 600;
  text-decoration: none;
}

/* INSCRIPTION */
.form-contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10em;
  font-size: 16px;
}

.iframe-container,
.form-customer {
  display: flex;
  flex-direction: column;
}

.iframe-container {
  margin-bottom: 1em;
}

.form-contact span {
  text-transform: uppercase;
  font-weight: 700;
}

.form-contact p {
  color: #2125297d;
}

.form-customer {
  margin-left: 1em;
}

.form-customer input,
.form-customer textarea {
  border: none;
  background: #f2f2f2;
  margin-bottom: 14px;
  padding: 12px 331px 12px 21px;
}

.form-customer input:hover,
.form-customer textarea:hover {
  background: #e8e8e8;
}

.form-contact textarea {
  height: 64px;
  transition-duration: 0.5s;
}

.form-contact textarea:focus {
  height: 232px;
}

.form-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#send-btn {
  background: #ff7c53;
  border: none;
  padding: 11px;
  width: 9em;
  font-size: 18px;
  color: #fff;
  transition-duration: 0.4s;
  cursor: pointer;
}

#send-btn:hover {
  background: #ff6953;
}

label {
  display: none;
}

/* --------PAGE-FORFAITS---------------- */

header #logo-lien {
  width: 80%;
  height: 5%;
  margin-right: -59px;
}

#banniere_tarifs,
#A-propos-img,
#banniere_material {
  width: 100%;
  filter: brightness(0.5);
}

.intro_equipement {
  color: #161a26d6;
  text-align: center;
  padding: 0 6%;
}

.intro_equipement p {
  font-weight: 400;
}

.invitation {
  background: linear-gradient(178deg, var(--primary-color), red);
  display: flex;
  align-items: center;
  color: white;
  font-size: 254%;
  margin: 0 auto;
  width: 67%;
  position: relative;
}
.invitation img {
  width: 28%;
}

.invitation p {
  font-size: 143%;
  padding: 0 20px;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(255 255 255);
  color: #17171700;
  text-transform: uppercase;
  line-height: 63px;
}

.btn_inscrire3 {
  background-color: #ff2916;
  padding: 0px 12px;
  position: absolute;
  left: 30%;
  font-size: 23px;
  border: solid white 2px;
  border-radius: 54px;
}

.btn_inscrire3:hover {
  background-color: white;
  color: black;
}

.btn_inscrire3 a {
  color: white;
  text-decoration: none;
}

/* --- */

#guenage {
  height: 25em;
  width: 100%;
}

#foot_tarif {
  margin-top: 0px;
}

/* --------Page SE MUSCLER----------------- */

.Gif {
  display: flex;
  justify-content: center;
}

#pompe {
  width: 21%;
  margin-left: 0%;
  margin-top: 5%;
  opacity: -16px;
}

.banniere-muscle {
  background-image: url(../images/banniÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨re-maigrir.png);
  height: 28em;
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fond-muscle {
  background: url(https://images.pexels.com/photos/4473622/pexels-photo-4473622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 47em;
}

#texte-muscle h1 {
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #d60;
  color: #ffffff;
  font-size: 5em;
}

#texte-muscle p {
  margin-bottom: 0;
}

.article-muscle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 104px;
  padding: 50px 52px;
}

.article-muscle img {
  width: 554px;
  height: 324px;
  border-radius: 31px;
  margin-left: 104px;
  box-shadow: 0 0px 24px #898989;
}

.entrainements {
  margin: 7em 0;
}

.entrainements h2 {
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #939393;
  color: #ffffff;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
}

.entrainements img {
  width: 414px;
  margin-right: 27px;
  border-radius: 5px;
  margin-top: 27px;
}

.prestations-muscle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0em 18em;
}

.prestations-muscle a {
  cursor: url(../images/bras.png), auto;
}

.prestations-course a {
  cursor: url(../images/chaussure.png), auto;
}

/* -----A propos------ */

#A-propos-main {
  background: rgb(132, 132, 132);
}

/* ---Equipement---- */

#equipement_banniere {
  width: 100%;
}

.machine,
.machine2 {
  display: flex;
  width: 67%;
  margin: 5em auto;
  color: black;
  background: white;
  justify-content: center;
  align-items: center;
}

.machine span {
  font-weight: 700;
}

.machine2 {
  flex-direction: row-reverse;
}

.machine img,
.machine2 img {
  border-radius: 4px;
  width: 22em;
}

.machine p,
.machine2 p {
  color: black;
  font-size: 74%;
  height: 61%;
  text-align: justify;
}

.titreNtexte {
  margin-left: 22px;
  margin-right: 13px;
}

.titreNtexte a:hover {
  color: #ff5722;
  font-weight: 500;
}

#photo_paysage {
  display: none;
}

.article_infos2 img {
  width: 372px;
}

.titreNtexte h1,
.titreNtexte h2,
.titreNtexte h3,
.titreNtexte h4,
.titreNtexte span {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  margin: -17px 0;
}

.titreNtexte span {
  color: var(--primary-color);
}
/* ----detente---- */

.contenue a {
  color: #ff7f00;
}

.contenue h5 {
  font-size: 2rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin: 140px 0;
}

/* -------Media Query bloc------------ */
@media screen and (max-width: 1024px) {
  .team-bloc-band {
    flex-wrap: wrap;
  }
  .bloc-band {
    align-items: center;
  }
  .element-decoration-1 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .band-service h3 {
    font-size: 17px;
  }
  #promo-instagram {
    flex-direction: column;
  }
  .menu-burger,
  .menu-items,
  .menu-bg {
    display: block;
  }
  header nav ul,
  .element-decoration-1 {
    display: none;
  }
  .services-trio {
    flex-wrap: wrap;
  }
  .publicity video {
    width: 93%;
  }
  .title-band {
    font-size: 2.2em;
  }
  .icon-text-container {
    flex-wrap: wrap;
    width: 100%;
  }
  .icon-text {
    margin: 1em 30px;
  }
  .nav_header.scroll {
    display: block;
  }
  th,
  td {
    padding: 5px;
    background: #f0f0f0;
  }
  .call-to-action {
    justify-content: center;
    gap: 9px;
  }
  .banner {
    background-position-y: 0;
  }
  .banner h1 {
    line-height: 38px;
    font-size: 33px;
  }
  .bloc-band h1 {
    font-size: 22px;
  }
  .description-text-image {
    flex-direction: column-reverse;
    margin: 3em 5px;
  }
  .description-text-image img {
    margin: 0 0 1em 0;
    width: 100%;
  }
  .session::after {
    display: none;
  }
  .form-contact {
    flex-direction: column;
    gap: 34px;
    margin: 0;
  }
  .iframe-container iframe {
    width: 100%;
  }
  .form-customer input,
  .form-customer textarea {
    width: 100%;
  }
  .form-company {
    border-radius: 43px 0 0 0;
    z-index: 44;
    position: relative;
    top: -43px;
    background: #fff;
    padding: 22px;
  }
}
