.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
}

.bubble {
    background: var(--disabled-1);
    padding: 2em;
    margin: 1em;
    border-radius: 54px;
    transition-duration: .5s;
    color: #000000b8;
    font-size: 13px;
}

.bubble.active, .bubble:hover {
    background: #FFCEBF;
}