@import './variables.css';

.btn {
    padding: 10px 20px;
    margin-right: 15px;
    border:none;
    border-radius: var(--border-radius-full);
    font-size: 16px;
    cursor: pointer;
}

.btn-subscribe, .btn-member {
    background: var(--primary-color);
    color: var(--black);
    transition-duration: .4s;
}
.btn-subscribe:hover,.btn-member:hover {
    background: var(--hover);
}
.btn-join {
    border: solid 1px var(--white);
    color: var(--white);
    background: #ffffff33;
    backdrop-filter: blur(21px);
}

.btn-join::after {
    content: '\f061';
    font-family: 'FontAwesome'; 
    opacity: 0;
    transition: .4s ;
}

.btn-join:hover::after{
    opacity: 1;
    margin-left: 7px;
}

.btn-member {
    position: relative;
    padding-right: 38px;
}

.btn-member::after {
    content: '\f061';
    font-family: 'FontAwesome';
    transform: rotate(321deg);
    display: inline-block;
    position: absolute;
    right: 18px;
    top: 50%;
    min-width: 18px;
    transform: translateY(-50%) rotate(321deg);
    transition: transform 0.3s cubic-bezier(.4,2,.6,1), right 0.3s cubic-bezier(.4,2,.6,1);
}

.btn-member:hover::after {
    right: 15px;
    transform: translateY(-50%) rotate(321deg) translateX(7px);
}
