.container {
    background: #171717;
    color: #fff;
    padding: 2em;
    margin: 2em;
    border-radius: 20px;
}

.title {
    font-size: 18px;
    margin: 1em 0;
}

.all_bloc {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.bloc {
    background: #ffffffd1;
    color: black;
    border-radius: 20px;
    padding: 2em;
    width: 43em;
}

.bloc p {
    margin-top: 5em;
    font-size: 16px;
}

i {
    background: var(--primary-color);
    font-size: 2em;
    width: 2em;
    height: 2em;
    display: flex!important;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: var(--icon);
}

@media screen and (max-width:1024px) {
    .all_bloc {
        flex-wrap: wrap;
        justify-content: center;
    }
    .bloc {
        width: 100%;
    }
    .container  {
        padding: 1em;
    }
}