@import url("../style/TabSwitcher.css");

.parcours {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  margin: 5em 0;
}

.card-sport {
  padding: 1em;
}

.theme {
  padding: 7px 14px;
}

.switch-button {
  padding: 1em;
}

.containers button {
  padding: 9px 25px;
  border-radius: 90px;
  border: solid 1px black;
  color: #000000;
  font-size: 22px;
  margin-right: 1em;
}

.containers button:hover {
  transition-duration: 0.4s;
  background: var(--primary-color);
}

.active-button {
  background: var(--primary-color);
  color: #ffffff !important;
  border: none !important;
  padding: 8px 16px;
  border-radius: 8px;
}

.images {
  width: 18em;
}

.images p {
  opacity: 0;
  height: 0;
}

.images:hover p {
  transition-duration: 0.4s;
  opacity: 1;
}
