@import url("../style/TabSwitcher.css");

.card-sport {
  padding: 2em;
}

.parcours {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  margin: 5em 0;
}

.switch-button {
  padding: 1em;
}

.theme {
  padding: 7px;
}
